html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(52,130,151);
}

hr {
    border: 2px solid #ecf1eb;
}

.bodygradient {
    height: 100%;
    margin: 0;   
    background: #3e8ca2;
    background: linear-gradient(180deg, rgba(52,130,151,1) 0%, rgba(115,168,180,1) 80%, rgba(236,241,235,1) 100%);
    transition: all 1s;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.mainbody {
    /* display: flex;
    justify-content: center; */
}

@media screen and (max-width: 772px) {
    .mainbody {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 772px) {
    .startbutton {
        order: -1;
    }
}

@media screen and (max-width: 772px) {
    .introbox {
        order: 1;
    }
}

@media screen and (max-width: 772px) {
    .smallscreen {
        order: 2;
    }
}

@media screen and (max-width: 772px) {
    hr {
        display: none;
    }
}


.introbox {
    width: 100%;
    display: flex;
    align-items: center;
}

h1 {
    color: #ecf1eb;
    font-family: Calistoga;
    font-size: 80px;
}

h2 {
    color: #ecf1eb;
    font-family: Calistoga;
    font-size: 50px;
    margin-bottom: 25px;

}

h2:hover, a:hover {
    color: #ecf1eb
}

h3 {
    color: #ecf1eb;
    font-family: Calistoga;
    font-size: 35px;
}

h4 {
    font-family: 'Tomorrow', sans-serif;
    color: #ecf1eb;
    font-size: 20px;
    
}

.rules {
    border-radius: 16px;
    width: 70%;
    background-color: #348297;
    border: solid 2px #348297;
    color: #ecf1eb;
    font-size: 20px;
    font-family: 'Tomorrow', sans-serif;
    padding: 20px;
    margin: auto;
}

.rules:hover {
    background-color: #3e8ca2;
    border: solid 2px #ecf1eb;
    color: #ffffff;
    transition: all 0.5s;
}

::selection {
    background: #eba5a5;; /* WebKit/Blink Browsers */
  }

.disappear {
    display: none;
}

.buttoncont {
    display: flex;
    justify-content: center;
}

/* div {
    border: 2px solid hotpink;
} */

.leaderboard {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #ecf1eb;    
    font-family: 'Tomorrow', sans-serif;
}

button{
    background-color: #3e8ca2;
    border: 2px solid #ecf1eb;
    color: #ecf1eb;
    border-radius: 10px;
    font-family: 'Tomorrow', sans-serif;
}

.answerbutton {
    margin: 20px;
    background-color: #3e8ca2;
    font-size: 20px;
}


.answerbutton:hover {
    background-color: #ecf1eb;
    color: #3e8ca2;
    /* width: 12%; */
    transition: all 0.2s;
}

.answerbox {
    display: flex;
    justify-content: space-between;
}

.questionbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameInput {
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Tomorrow', sans-serif;
    background-color: #ecf1eb;
    border: 2px solid #ecf1eb;
    color: #3e8ca2;
    padding-left: 4px;
    margin-right: 15px;

}

.nameInput:hover {
    transform: perspective(100px) rotatey(10deg);
    transition: all 10s;
}

.nameInputButton {
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Tomorrow', sans-serif;
    background-color: #3e8ca2;
    color: #ecf1eb;
    border: 2px solid #ecf1eb;
    margin: 8px;
}

.nameInputButton:hover {
    background-color: #ecf1eb;
    color: #3e8ca2;
    border: 2px solid #3e8ca2;
    transform: perspective(100px) rotatey(-5deg);
    transition: all 0.5s;
}


.startbutton {
    width: 70%;
    background-color: #3e8ca2;
    border: 2px solid #ecf1eb;
    color: #ecf1eb;
    margin: 2% 5% 0 5%;
    padding: 0;
    border-radius: 10px;
    height: 60px;
    width: 400px;
    font-family: Calistoga;
    font-size: 40px;
}

.startbutton:hover {
    background-color: #ecf1eb;
    color: #3e8ca2;
    transition: all 0.5s;
}

.spacer {
    height: 60px;
    font-family: Calistoga;
    color: #ecf1eb;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.spacer2 {
    height: 10px
}